

        input.slider[type="range"] {
            -webkit-appearance: none;
            width: 50%;
            height: 25px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

        input.slider:hover {
            opacity: 1;
        }

        input.slider[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            background: #f6b141;
            cursor: pointer;
        }

        input.slider[type="range"]::-moz-range-thumb {
            width: 25px;
            height: 25px;
            background: #f6b141;
            cursor: pointer;
        }
