{% capture tags %}
  {% for tag in site.tags %}
    {{ tag[0] }}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}

{% for tag in sortedtags %}
  <h3 id="{{ tag }}">{{ tag }}</h3>
  {% for post in site.tags[tag] %}
    
<a href="{{post.url | prepend: site.baseurl}}"> {{ post.image }} </a>
      <a href="{{post.url | prepend: site.baseurl}}" style="background-image: url({{site.baseurl}}/images/{{post.image}})">  url({{site.baseurl}}/images/{{post.image}} </a>
  {% endfor %}
{% endfor %}

<div id=d3_app></div>
