<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.title }}{% endif %}</title>
<meta name='description' content='{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.settings.description }}{% endif %}'>

<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

{% if page.datatables %}
   <link rel=stylesheet href=https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">
	{% endif %}

 {% if page.d3version %}
<script src="{{ page.d3version }} ></script>
	
 	<script src="{{ site.baseurl }}/js/vendors/d3.v6.min.js" ></script>
{%endif %}

 {% if page.fonts %}
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Architects Daughter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Architects Daughter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
 {% endif %}

{% if page.topo %}
   <script src="//d3js.org/topojson.v1.min.js"></script>
{% endif %}

   
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hi+Melody' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    
<!-- Ionicons -->
<link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">
   
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css">   

<style>
    {% capture include_to_scssify %}
    {% include main.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
    

    {% if page.style %} {% include {{ page.style }} %} {% endif %}

 {% if site.tags != "" %}
  {% include collecttags.html %}
{% endif %}

</style>
</head>
