div#miracle {
  display: none;
}

div#miracle img {
  display: block;
  margin: 0 auto;
}

span#miracle {
    position: relative;
    display: inline-block;
    color: $redTree;
    font-weight:700;
    font-size:1.2 rem;
    cursor:pointer;
}
