div#miracle {
  display: none;
}

div#miracle img {
  display: block;
  margin: 0 auto;
  position: relative;
  top: -300px;
}

span#miracle {
    position: relative;
    display: inline-block;
    color:$redTree;
    font-weight:700;
    font-size:1.75rem;
    cursor:pointer;
}
