div#miracle {
  display: none;
}

div#miracle img {
  display: block;
  margin: 0 auto;
}

span {
color: black;
  font-weight:500;
  font-size:1 rem;
  cursor:auto;
}

span#miracle {
    display: inline-block;
    color:  #D95D2A;
    font-weight:700;
    font-size:1.2 rem;
    cursor:pointer;
}

span#starter {
  text-decoration: none;
    color: #D95D2A;
    transition: $global-transition;
    &:hover {
      color: darken($link-color, 10%);
    }
    &:active {
      color: darken($link-color, 20%);
    cursor:pointer;
  }
