
<div id="d3_app_container" >
    <div id="headerLeft" style="width:350px; right:20px;">
    <div class="hint vanisher">
        Click in the outer ring or any inner circle to change the visual.
    </div>
    <div class="hint vanisher">
      Click anywhere in the "white" to return to the main visual.
    </div>
    <div class="hint">
     Try a different dataset! <input type = checkbox id = newData>
    </div>
    <div class="goaway vanisher">
        Got it. Make this go away (just click anywhere in here outside the checkbox)
   </div>
  </div>
  <div id="toolTip">
        <div id="header1" class="header2"></div>
        <div class="header-rule"></div>
        <div id="head" class="header"></div>
        <div class="header-rule"></div>
        <div id="header2" class="header3"></div>
      <div class="tooltipTail"></div>
  </div>
  <div id="d3_app"></div>
</div>
