<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">
<defs>
<style type="text/css"> @import url(https://fonts.googleapis.com/css2?family=Roboto%20Condensed:wght@300&amp;display=swap); </style>
</defs>
<g>
<g transform="translate(718,788) rotate(15.256529813724136,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="121.355px" font-style="normal" font-weight="normal" x="-114.00260925292969" y="-48.5420652288" text-anchor="start" dominant-baseline="alphabetic">work</text>
</g>
<g transform="translate(254,646) rotate(-261.98261467656573,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="110.323px" font-style="normal" font-weight="normal" x="-100.48921966552734" y="-44.129150208" text-anchor="start" dominant-baseline="alphabetic">Elise</text>
</g>
<g transform="translate(392,120) rotate(-7.599626511044142,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="99.2906px" font-style="normal" font-weight="normal" x="-99.16876983642578" y="-39.7162351872" text-anchor="start" dominant-baseline="alphabetic">great</text>
</g>
<g transform="translate(256,708) rotate(-169.47980801960057,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="88.2583px" font-style="normal" font-weight="normal" x="-149.525146484375" y="-35.3033201664" text-anchor="start" dominant-baseline="alphabetic">beautiful</text>
</g>
<g transform="translate(118,404) rotate(-67.17362924304614,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="88.2583px" font-style="normal" font-weight="normal" x="-113.4581298828125" y="-35.3033201664" text-anchor="start" dominant-baseline="alphabetic">quality</text>
</g>
<g transform="translate(674,668) rotate(-325.51445455320953,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="88.2583px" font-style="normal" font-weight="normal" x="-52.50616455078125" y="-35.3033201664" text-anchor="start" dominant-baseline="alphabetic">job</text>
</g>
<g transform="translate(756,836) rotate(-106.65544716731814,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="77.226px" font-style="normal" font-weight="normal" x="-132.75955200195312" y="-30.8904051456" text-anchor="start" dominant-baseline="alphabetic">excellent</text>
</g>
<g transform="translate(224,294) rotate(-73.4280197766636,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="77.226px" font-style="normal" font-weight="normal" x="-105.42337799072266" y="-30.8904051456" text-anchor="start" dominant-baseline="alphabetic">exactly</text>
</g>
<g transform="translate(812,748) rotate(-192.0867096866434,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="77.226px" font-style="normal" font-weight="normal" x="-103.613525390625" y="-30.8904051456" text-anchor="start" dominant-baseline="alphabetic">project</text>
</g>
<g transform="translate(572,92) rotate(-293.391338341041,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="77.226px" font-style="normal" font-weight="normal" x="-75.5798110961914" y="-30.8904051456" text-anchor="start" dominant-baseline="alphabetic">skills</text>
</g>
<g transform="translate(200,1006) rotate(-2.075986621448176,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="66.1937px" font-style="normal" font-weight="normal" x="-199.86273193359375" y="-26.4774901248" text-anchor="start" dominant-baseline="alphabetic">communication</text>
</g>
<g transform="translate(662,124) rotate(-280.0927329996367,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="66.1937px" font-style="normal" font-weight="normal" x="-112.97221374511719" y="-26.4774901248" text-anchor="start" dominant-baseline="alphabetic">fantastic</text>
</g>
<g transform="translate(742,144) rotate(-252.06551056974814,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="66.1937px" font-style="normal" font-weight="normal" x="-109.32012939453125" y="-26.4774901248" text-anchor="start" dominant-baseline="alphabetic">pleasure</text>
</g>
<g transform="translate(316,238) rotate(-33.27326832321678,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="66.1937px" font-style="normal" font-weight="normal" x="-87.45609283447266" y="-26.4774901248" text-anchor="start" dominant-baseline="alphabetic">python</text>
</g>
<g transform="translate(274,700) rotate(-47.36157489304607,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="66.1937px" font-style="normal" font-weight="normal" x="-62.52174377441406" y="-26.4774901248" text-anchor="start" dominant-baseline="alphabetic">deep</text>
</g>
<g transform="translate(812,154) rotate(-258.1479847556771,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="55.1614px" font-style="normal" font-weight="normal" x="-163.89083862304688" y="-22.064575104" text-anchor="start" dominant-baseline="alphabetic">communicative</text>
</g>
<g transform="translate(284,110) rotate(-82.68965567259623,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="55.1614px" font-style="normal" font-weight="normal" x="-96.16634368896484" y="-22.064575104" text-anchor="start" dominant-baseline="alphabetic">definitely</text>
</g>
<g transform="translate(946,330) rotate(-113.82408630955807,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="55.1614px" font-style="normal" font-weight="normal" x="-103.50575256347656" y="-22.064575104" text-anchor="start" dominant-baseline="alphabetic">javascript</text>
</g>
<g transform="translate(284,884) rotate(18.106852656319127,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="55.1614px" font-style="normal" font-weight="normal" x="-95.92394256591797" y="-22.064575104" text-anchor="start" dominant-baseline="alphabetic">Excellent</text>
</g>
<g transform="translate(936,668) rotate(-245.68631035480973,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="55.1614px" font-style="normal" font-weight="normal" x="-76.30282592773438" y="-22.064575104" text-anchor="start" dominant-baseline="alphabetic">Laravel</text>
</g>
<g transform="translate(956,422) rotate(-276.8149174876012,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="55.1614px" font-style="normal" font-weight="normal" x="-75.65643310546875" y="-22.064575104" text-anchor="start" dominant-baseline="alphabetic">perfect</text>
</g>
<g transform="translate(698,928) rotate(-84.22332699934738,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="55.1614px" font-style="normal" font-weight="normal" x="-72.3974609375" y="-22.064575104" text-anchor="start" dominant-baseline="alphabetic">results</text>
</g>
<g transform="translate(288,938) rotate(-354.93428284571166,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="55.1614px" font-style="normal" font-weight="normal" x="-84.3155746459961" y="-22.064575104" text-anchor="start" dominant-baseline="alphabetic">working</text>
</g>
<g transform="translate(108,712) rotate(-95.50980287786908,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="55.1614px" font-style="normal" font-weight="normal" x="-70.87571716308594" y="-22.064575104" text-anchor="start" dominant-baseline="alphabetic">design</text>
</g>
<g transform="translate(66,672) rotate(-87.36222756718182,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="55.1614px" font-style="normal" font-weight="normal" x="-60.08881378173828" y="-22.064575104" text-anchor="start" dominant-baseline="alphabetic">result</text>
</g>
<g transform="translate(180,808) rotate(-160.16395995404847,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="55.1614px" font-style="normal" font-weight="normal" x="-73.36708068847656" y="-22.064575104" text-anchor="start" dominant-baseline="alphabetic">superb</text>
</g>
<g transform="translate(76,286) rotate(-356.3388386831733,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="55.1614px" font-style="normal" font-weight="normal" x="-78.16124725341797" y="-22.064575104" text-anchor="start" dominant-baseline="alphabetic">Thanks</text>
</g>
<g transform="translate(948,344) rotate(25.452046599877097,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="55.1614px" font-style="normal" font-weight="normal" x="-53.89409637451172" y="-22.064575104" text-anchor="start" dominant-baseline="alphabetic">D3.js</text>
</g>
<g transform="translate(906,264) rotate(1.4226060201105326,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="55.1614px" font-style="normal" font-weight="normal" x="-53.77288818359375" y="-22.064575104" text-anchor="start" dominant-baseline="alphabetic">input</text>
</g>
<g transform="translate(910,728) rotate(-87.16891600523307,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="55.1614px" font-style="normal" font-weight="normal" x="-41.571983337402344" y="-22.064575104" text-anchor="start" dominant-baseline="alphabetic">fast</text>
</g>
<g transform="translate(236,120) rotate(-85.98371418791177,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="55.1614px" font-style="normal" font-weight="normal" x="-53.93450164794922" y="-22.064575104" text-anchor="start" dominant-baseline="alphabetic">good</text>
</g>
<g transform="translate(422,132) rotate(-74.2534223827796,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="55.1614px" font-style="normal" font-weight="normal" x="-35.40418243408203" y="-22.064575104" text-anchor="start" dominant-baseline="alphabetic">will</text>
</g>
<g transform="translate(632,542) rotate(-239.87319628782197,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="55.1614px" font-style="normal" font-weight="normal" x="-36.42766571044922" y="-22.064575104" text-anchor="start" dominant-baseline="alphabetic">eye</text>
</g>
<g transform="translate(824,348) rotate(74.5519759012059,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="55.1614px" font-style="normal" font-weight="normal" x="-43.18798828125" y="-22.064575104" text-anchor="start" dominant-baseline="alphabetic">UAT</text>
</g>
<g transform="translate(826,928) rotate(31.53489556161109,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="44.1292px" font-style="normal" font-weight="normal" x="-110.14913177490234" y="-17.6516600832" text-anchor="start" dominant-baseline="alphabetic">development</text>
</g>
<g transform="translate(912,794) rotate(-187.85185101009967,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="44.1292px" font-style="normal" font-weight="normal" x="-84.06061553955078" y="-17.6516600832" text-anchor="start" dominant-baseline="alphabetic">additional</text>
</g>
<g transform="translate(936,216) rotate(19.447918831615112,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="44.1292px" font-style="normal" font-weight="normal" x="-82.692626953125" y="-17.6516600832" text-anchor="start" dominant-baseline="alphabetic">incredible</text>
</g>
<g transform="translate(108,144) rotate(-266.78132824621173,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="44.1292px" font-style="normal" font-weight="normal" x="-90.36193084716797" y="-17.6516600832" text-anchor="start" dominant-baseline="alphabetic">completed</text>
</g>
<g transform="translate(12,814) rotate(79.21171959258119,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="44.1292px" font-style="normal" font-weight="normal" x="-81.16309356689453" y="-17.6516600832" text-anchor="start" dominant-baseline="alphabetic">exceeded</text>
</g>
<g transform="translate(744,944) rotate(73.91784363515639,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="44.1292px" font-style="normal" font-weight="normal" x="-62.42072296142578" y="-17.6516600832" text-anchor="start" dominant-baseline="alphabetic">needed</text>
</g>
<g transform="translate(194,882) rotate(-120.64958563889783,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="44.1292px" font-style="normal" font-weight="normal" x="-46.42506408691406" y="-17.6516600832" text-anchor="start" dominant-baseline="alphabetic">Great</text>
</g>
<g transform="translate(510,78) rotate(-353.7892685704331,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="44.1292px" font-style="normal" font-weight="normal" x="-41.685630798339844" y="-17.6516600832" text-anchor="start" dominant-baseline="alphabetic">code</text>
</g>
<g transform="translate(276,148) rotate(-316.6259958702426,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="44.1292px" font-style="normal" font-weight="normal" x="-37.947906494140625" y="-17.6516600832" text-anchor="start" dominant-baseline="alphabetic">time</text>
</g>
<g transform="translate(922,962) rotate(-192.84950902306485,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-95.67497253417969" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">knowledgeable</text>
</g>
<g transform="translate(368,978) rotate(-181.42814391199852,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-79.86512756347656" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">visualization</text>
</g>
<g transform="translate(114,854) rotate(-105.80703453582646,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-74.58978271484375" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">cooperative</text>
</g>
<g transform="translate(782,58) rotate(-352.95829182050437,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-61.48627471923828" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">iteratively</text>
</g>
<g transform="translate(888,908) rotate(38.845694191279115,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-67.44022369384766" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">appreciate</text>
</g>
<g transform="translate(54,192) rotate(-309.0891427471561,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-63.23127746582031" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">especially</text>
</g>
<g transform="translate(130,74) rotate(-33.20811993625374,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-68.07036590576172" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">dashboard</text>
</g>
<g transform="translate(914,82) rotate(-220.7316199763593,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-62.479957580566406" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">extremely</text>
</g>
<g transform="translate(-2,334) rotate(-273.7608299109697,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-68.78936004638672" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">knowledge</text>
</g>
<g transform="translate(22,90) rotate(65.84892331849527,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-64.05529022216797" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">wonderful</text>
</g>
<g transform="translate(722,100) rotate(-287.170130310986,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-49.27143096923828" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">attitude</text>
</g>
<g transform="translate(964,148) rotate(62.58990165949755,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-51.78387451171875" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">projects</text>
</g>
<g transform="translate(126,398) rotate(-73.46928975472063,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-52.042396545410156" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">talented</text>
</g>
<g transform="translate(710,1010) rotate(25.97998236644175,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-49.72383117675781" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">forward</text>
</g>
<g transform="translate(352,704) rotate(-269.7629480216608,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-44.12535858154297" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">related</text>
</g>
<g transform="translate(794,954) rotate(65.79937041995468,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-48.98060607910156" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">science</text>
</g>
<g transform="translate(982,792) rotate(-15.327253229008285,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-51.476890563964844" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">weather</text>
</g>
<g transform="translate(144,728) rotate(-343.0605921835945,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-46.20964050292969" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">anyone</text>
</g>
<g transform="translate(946,848) rotate(-231.2246059420761,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-37.84828186035156" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">highly</text>
</g>
<g transform="translate(962,266) rotate(65.26773473451232,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-42.08955383300781" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">wizard</text>
</g>
<g transform="translate(626,796) rotate(84.9813963265076,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-39.02775573730469" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">writes</text>
</g>
<g transform="translate(194,42) rotate(-293.52332378601017,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-35.94981384277344" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">Aplus</text>
</g>
<g transform="translate(250,696) rotate(-249.21677296823512,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-39.334754943847656" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">coded</text>
</g>
<g transform="translate(778,640) rotate(-180.0874436253312,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-34.293701171875" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">ideas</text>
</g>
<g transform="translate(936,88) rotate(-40.71303209307676,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-41.43518829345703" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">knows</text>
</g>
<g transform="translate(402,530) rotate(-87.72368499468246,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-34.527976989746094" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">tasks</text>
</g>
<g transform="translate(56,174) rotate(-125.56921886952458,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-39.50439453125" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">Thank</text>
</g>
<g transform="translate(652,162) rotate(-278.9150011195791,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-28.71136474609375" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">ultra</text>
</g>
<g transform="translate(626,1012) rotate(-36.682546291323824,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-29.656570434570312" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">High</text>
</g>
<g transform="translate(640,494) rotate(-207.68001566900742,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-12.626861572265625" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">fit</text>
</g>
<g transform="translate(744,786) rotate(-20.09434154417787,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="33.0969px" font-style="normal" font-weight="normal" x="-27.208755493164062" y="-13.2387450624" text-anchor="start" dominant-baseline="alphabetic">SVG</text>
</g>
<g transform="translate(950,48) rotate(-330.1880860424652,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-59.23771667480469" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">specifications</text>
</g>
<g transform="translate(566,74) rotate(60.691682665527495,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-51.175262451171875" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">collaborator</text>
</g>
<g transform="translate(14,878) rotate(-289.87214813808856,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-63.09929656982422" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">enhancements</text>
</g>
<g transform="translate(366,2) rotate(-184.60822768174498,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-54.75678253173828" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">expectations</text>
</g>
<g transform="translate(-2,536) rotate(-264.0989157777519,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-52.634788513183594" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">professional</text>
</g>
<g transform="translate(510,988) rotate(-178.83821100412422,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-48.46623992919922" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">informative</text>
</g>
<g transform="translate(230,1010) rotate(-2.3137831375425075,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-57.48735809326172" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">programming</text>
</g>
<g transform="translate(322,834) rotate(-350.3735255922711,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-44.566978454589844" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">dedication</text>
</g>
<g transform="translate(808,260) rotate(-88.54734807678028,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-39.364349365234375" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">Definitely</text>
</g>
<g transform="translate(940,692) rotate(-49.45192525447334,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-46.258087158203125" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">experience</text>
</g>
<g transform="translate(144,786) rotate(-166.24809368743328,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-44.798545837402344" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">Freelancer</text>
</g>
<g transform="translate(84,160) rotate(-282.3482437293325,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-39.6875" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">insightful</text>
</g>
<g transform="translate(184,154) rotate(-84.97795222566633,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-46.188072204589844" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">responsive</text>
</g>
<g transform="translate(966,134) rotate(-135.0911767968126,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-41.01776885986328" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">colleague</text>
</g>
<g transform="translate(672,1022) rotate(7.0289330405694,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-41.90642547607422" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">consulted</text>
</g>
<g transform="translate(228,286) rotate(-89.84335348504011,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-41.83641052246094" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">continues</text>
</g>
<g transform="translate(992,698) rotate(85.97174551596069,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-38.38414001464844" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">delivered</text>
</g>
<g transform="translate(514,30) rotate(3.3018843486958813,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-37.22621154785156" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">direction</text>
</g>
<g transform="translate(882,408) rotate(-319.57871598890745,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-33.85474395751953" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">efficient</text>
</g>
<g transform="translate(1004,880) rotate(-54.19375571054469,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-39.28893280029297" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">expertise</text>
</g>
<g transform="translate(798,752) rotate(-65.35172508048156,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-39.54747009277344" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">follow-on</text>
</g>
<g transform="translate(980,900) rotate(-239.29213352713037,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-44.642364501953125" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">impressed</text>
</g>
<g transform="translate(774,24) rotate(-355.5645123269911,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-42.58501434326172" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">requested</text>
</g>
<g transform="translate(938,372) rotate(-295.98664837503674,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-39.13276672363281" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">solutions</text>
</g>
<g transform="translate(86,24) rotate(-216.86690111326044,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-37.10771942138672" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">specially</text>
</g>
<g transform="translate(680,930) rotate(-283.48806732891677,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-38.701904296875" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">technical</text>
</g>
<g transform="translate(142,1012) rotate(-18.424527503903533,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-34.66798400878906" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">creating</text>
</g>
<g transform="translate(866,942) rotate(-169.28177459006417,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-35.998268127441406" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">deadline</text>
</g>
<g transform="translate(266,940) rotate(8.280555649579897,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-36.41835021972656" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">describe</text>
</g>
<g transform="translate(994,526) rotate(76.60015740886118,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-30.138580322265625" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">flexible</text>
</g>
<g transform="translate(68,32) rotate(-5.253019170488514,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-33.19767761230469" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">positive</text>
</g>
<g transform="translate(78,980) rotate(-189.0229356455651,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-37.01079559326172" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">punctual</text>
</g>
<g transform="translate(968,986) rotate(-183.4983428399363,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-34.969581604003906" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">required</text>
</g>
<g transform="translate(218,900) rotate(-116.09402164025464,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-35.373504638671875" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">services</text>
</g>
<g transform="translate(976,36) rotate(-319.65076916787285,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-34.210205078125" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">solution</text>
</g>
<g transform="translate(258,298) rotate(-44.51779877615791,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-34.1240234375" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">adheres</text>
</g>
<g transform="translate(118,902) rotate(-293.1711667380229,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-41.901031494140625" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">Awesome</text>
</g>
<g transform="translate(988,126) rotate(55.947263055783594,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-33.11151123046875" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">develop</text>
</g>
<g transform="translate(822,190) rotate(-92.65737967411098,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-32.896087646484375" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">product</text>
</g>
<g transform="translate(754,86) rotate(-273.6009607934103,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-26.589378356933594" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">profile</text>
</g>
<g transform="translate(894,876) rotate(-321.342948353515,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-29.756195068359375" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">quickly</text>
</g>
<g transform="translate(994,578) rotate(-249.81298001388245,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-28.819068908691406" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">similar</text>
</g>
<g transform="translate(684,628) rotate(-155.6893935096234,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-27.11717987060547" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">Stellar</text>
</g>
<g transform="translate(810,864) rotate(34.567487258336435,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-36.03595733642578" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">systems</text>
</g>
<g transform="translate(898,214) rotate(3.4080341731475814,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-28.49054718017578" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">talking</text>
</g>
<g transform="translate(66,924) rotate(-300.36256115829525,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-30.95721435546875" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">version</text>
</g>
<g transform="translate(66,300) rotate(-57.47446665209418,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-29.0452880859375" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">writing</text>
</g>
<g transform="translate(930,272) rotate(-11.883247926642307,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-29.357650756835938" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">always</text>
</g>
<g transform="translate(646,38) rotate(86.55223206611807,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-32.1474609375" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">custom</text>
</g>
<g transform="translate(336,118) rotate(-293.2327234819054,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-24.418922424316406" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">easily</text>
</g>
<g transform="translate(416,92) rotate(-228.65100184248598,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-26.998687744140625" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">expert</text>
</g>
<g transform="translate(-2,906) rotate(-277.48132122929513,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-31.71661376953125" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">Module</text>
</g>
<g transform="translate(12,102) rotate(-298.14841438478857,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-29.389968872070312" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">person</text>
</g>
<g transform="translate(992,732) rotate(-70.397864589348,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-22.727798461914062" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">really</text>
</g>
<g transform="translate(710,596) rotate(-333.4960480860366,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-23.180206298828125" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">exact</text>
</g>
<g transform="translate(278,180) rotate(13.082654437588868,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-22.129989624023438" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">go-to</text>
</g>
<g transform="translate(946,474) rotate(46.1019376048394,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-19.921836853027344" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">lines</text>
</g>
<g transform="translate(360,554) rotate(-36.3558027470127,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-20.288055419921875" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">offer</text>
</g>
<g transform="translate(998,250) rotate(-261.5596082278481,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-21.607582092285156" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">point</text>
</g>
<g transform="translate(128,110) rotate(-84.80898765134073,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-22.819366455078125" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">quick</text>
</g>
<g transform="translate(294,26) rotate(-5.274776747107747,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-19.523300170898438" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">right</text>
</g>
<g transform="translate(256,880) rotate(24.603109793851985,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-22.485443115234375" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">scale</text>
</g>
<g transform="translate(340,726) rotate(-270.59434673072496,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-25.32372283935547" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">smart</text>
</g>
<g transform="translate(314,598) rotate(74.05675525147413,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-19.28093719482422" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">tried</text>
</g>
<g transform="translate(760,642) rotate(-306.1986238364996,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-17.923728942871094" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">able</text>
</g>
<g transform="translate(246,812) rotate(-336.69548859874106,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-15.909477233886719" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">find</text>
</g>
<g transform="translate(994,802) rotate(-287.7387280959965,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-21.128250122070312" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">hope</text>
</g>
<g transform="translate(196,56) rotate(-42.97047245593089,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-20.131874084472656" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">keep</text>
</g>
<g transform="translate(902,36) rotate(-216.06757414339725,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-23.36333465576172" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">Many</text>
</g>
<g transform="translate(230,708) rotate(-235.4833189711231,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-21.419082641601562" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">mind</text>
</g>
<g transform="translate(302,606) rotate(-63.969998214701974,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-18.510772705078125" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">sure</text>
</g>
<g transform="translate(290,130) rotate(-135.9141853814542,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-16.889671325683594" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">true</text>
</g>
<g transform="translate(352,596) rotate(-262.7957925948417,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-17.5521240234375" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">new</text>
</g>
<g transform="translate(714,722) rotate(-93.04202547822203,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-17.918357849121094" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">now</text>
</g>
<g transform="translate(920,168) rotate(22.876065268042332,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="22.0646px" font-style="normal" font-weight="normal" x="-18.67235565185547" y="-8.8258300416" text-anchor="start" dominant-baseline="alphabetic">PHP</text>
</g>
<g transform="translate(124,402) rotate(-222.49476273181668,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-24.642417907714844" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">Javascripts</text>
</g>
<g transform="translate(286,240) rotate(-217.94222183490942,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-22.916290283203125" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">challenges</text>
</g>
<g transform="translate(356,850) rotate(18.633300444362682,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-23.662216186523438" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">scrambling</text>
</g>
<g transform="translate(728,698) rotate(-230.42074821189107,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-16.827728271484375" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">Another</text>
</g>
<g transform="translate(12,598) rotate(-219.30979431937976,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-18.07183074951172" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">changes</text>
</g>
<g transform="translate(374,648) rotate(1.4771860103510794,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-16.159889221191406" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">contact</text>
</g>
<g transform="translate(338,628) rotate(-168.4181953497467,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-17.153549194335938" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">improve</text>
</g>
<g transform="translate(82,446) rotate(-132.38850442018634,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-11.493141174316406" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">initial</text>
</g>
<g transform="translate(830,344) rotate(-336.9947329023931,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-15.462432861328125" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">looking</text>
</g>
<g transform="translate(202,324) rotate(-123.51576438648291,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-14.363754272460938" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">behind</text>
</g>
<g transform="translate(654,732) rotate(-3.480134851295773,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-15.87445068359375" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">enough</text>
</g>
<g transform="translate(298,740) rotate(71.86966339572558,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-14.266792297363281" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">Luzern</text>
</g>
<g transform="translate(768,676) rotate(-217.85037724893917,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-13.211204528808594" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">things</text>
</g>
<g transform="translate(710,554) rotate(-141.9151008185981,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-12.543373107910156" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">cases</text>
</g>
<g transform="translate(642,162) rotate(-318.4235379165881,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-12.362953186035156" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">found</text>
</g>
<g transform="translate(348,668) rotate(-347.89586190900155,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-12.142135620117188" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">hours</text>
</g>
<g transform="translate(648,636) rotate(-178.9930218930898,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-9.546211242675781" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">later</text>
</g>
<g transform="translate(302,620) rotate(-179.27620056490645,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-12.756111145019531" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">Leeds</text>
</g>
<g transform="translate(636,606) rotate(-294.00579509016575,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-11.221168518066406" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">short</text>
</g>
<g transform="translate(306,646) rotate(-188.882347464254,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-10.17095947265625" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">back</text>
</g>
<g transform="translate(316,214) rotate(-118.71744211045738,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-11.824378967285156" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">came</text>
</g>
<g transform="translate(692,606) rotate(-238.15700482676272,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-11.934783935546875" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">come</text>
</g>
<g transform="translate(362,560) rotate(-35.64197874790492,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-10.57489013671875" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">done</text>
</g>
<g transform="translate(330,666) rotate(-43.88651812509001,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-9.888206481933594" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">easy</text>
</g>
<g transform="translate(380,764) rotate(-354.7800102109812,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-9.147666931152344" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">high</text>
</g>
<g transform="translate(650,660) rotate(-242.42313811569585,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-8.964546203613281" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">look</text>
</g>
<g transform="translate(684,664) rotate(-224.4584712354741,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-8.908004760742188" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">said</text>
</g>
<g transform="translate(358,750) rotate(-169.4906156691981,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-10.515640258789062" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">Wala</text>
</g>
<g transform="translate(762,608) rotate(-101.89476836545694,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-7.553489685058594" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">day</text>
</g>
<g transform="translate(362,784) rotate(-258.67169178199646,0,0)">
<text fill="#ffb03b" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-8.326347351074219" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">met</text>
</g>
<g transform="translate(708,668) rotate(-292.3529308401673,0,0)">
<text fill="#8e2800" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-6.93682861328125" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">put</text>
</g>
<g transform="translate(634,496) rotate(-277.1975827656109,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-7.324592590332031" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">say</text>
</g>
<g transform="translate(726,634) rotate(-248.65716818048665,0,0)">
<text fill="#468966" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-8.636024475097656" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">UAT</text>
</g>
<g transform="translate(640,568) rotate(-325.21819817292544,0,0)">
<text fill="#b64926" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-7.6396636962890625" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">use</text>
</g>
<g transform="translate(638,526) rotate(-190.12867811579335,0,0)">
<text fill="#fff0a5" stroke="none" font-family="Roboto Condensed" font-size="11.0323px" font-style="normal" font-weight="normal" x="-2.682098388671875" y="-4.4129150208" text-anchor="start" dominant-baseline="alphabetic">0</text>
</g>
</g>
</svg>


