<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 1024 1024" width="100%" height="100%">
<defs>
<style type="text/css"> @import url(https://fonts.googleapis.com/css2?family=Roboto%20Condensed:wght@400&amp;display=swap); </style>
</defs>
<g>
<g transform="translate(770,1022) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="226.934px" font-style="normal" font-weight="normal" x="-230.3649444580078" y="-90.77363680000002" text-anchor="start" dominant-baseline="alphabetic">great</text>
</g>
<g transform="translate(186,1022) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="181.547px" font-style="normal" font-weight="normal" x="-170.5039825439453" y="-72.61890944000002" text-anchor="start" dominant-baseline="alphabetic">Elise</text>
</g>
<g transform="translate(256,876) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="158.854px" font-style="normal" font-weight="normal" x="-209.11111450195312" y="-63.54154576000001" text-anchor="start" dominant-baseline="alphabetic">quality</text>
</g>
<g transform="translate(754,826) rotate(1.771855291917439,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="136.16px" font-style="normal" font-weight="normal" x="-240.54043579101562" y="-54.464182080000015" text-anchor="start" dominant-baseline="alphabetic">excellent</text>
</g>
<g transform="translate(212,198) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="136.16px" font-style="normal" font-weight="normal" x="-186.45541381835938" y="-54.464182080000015" text-anchor="start" dominant-baseline="alphabetic">project</text>
</g>
<g transform="translate(860,202) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="136.16px" font-style="normal" font-weight="normal" x="-139.4842071533203" y="-54.464182080000015" text-anchor="start" dominant-baseline="alphabetic">skills</text>
</g>
<g transform="translate(654,272) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="113.467px" font-style="normal" font-weight="normal" x="-346.97259521484375" y="-45.38681840000001" text-anchor="start" dominant-baseline="alphabetic">communication</text>
</g>
<g transform="translate(224,736) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="113.467px" font-style="normal" font-weight="normal" x="-198.3056640625" y="-45.38681840000001" text-anchor="start" dominant-baseline="alphabetic">fantastic</text>
</g>
<g transform="translate(806,712) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="113.467px" font-style="normal" font-weight="normal" x="-191.26980590820312" y="-45.38681840000001" text-anchor="start" dominant-baseline="alphabetic">pleasure</text>
</g>
<g transform="translate(190,314) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="90.7736px" font-style="normal" font-weight="normal" x="-162.30447387695312" y="-36.30945472000001" text-anchor="start" dominant-baseline="alphabetic">definitely</text>
</g>
<g transform="translate(834,338) rotate(0,0,0)">
<text fill="#c00" stroke="none" font-family="Roboto Condensed" font-size="90.7736px" font-style="normal" font-weight="normal" x="-161.63967895507812" y="-36.30945472000001" text-anchor="start" dominant-baseline="alphabetic">Excellent</text>
</g>
<g transform="translate(170,638) rotate(0,0,0)">
<text fill="#c00" stroke="none" font-family="Roboto Condensed" font-size="90.7736px" font-style="normal" font-weight="normal" x="-141.25189208984375" y="-36.30945472000001" text-anchor="start" dominant-baseline="alphabetic">working</text>
</g>
<g transform="translate(866,638) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="90.7736px" font-style="normal" font-weight="normal" x="-130.37103271484375" y="-36.30945472000001" text-anchor="start" dominant-baseline="alphabetic">Thanks</text>
</g>
<g transform="translate(438,1022) rotate(0,0,0)">
<text fill="#c00" stroke="none" font-family="Roboto Condensed" font-size="90.7736px" font-style="normal" font-weight="normal" x="-91.08020782470703" y="-36.30945472000001" text-anchor="start" dominant-baseline="alphabetic">D3.js</text>
</g>
<g transform="translate(882,1022) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="90.7736px" font-style="normal" font-weight="normal" x="-70.18273162841797" y="-36.30945472000001" text-anchor="start" dominant-baseline="alphabetic">fast</text>
</g>
<g transform="translate(118,386) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="90.7736px" font-style="normal" font-weight="normal" x="-90.43756103515625" y="-36.30945472000001" text-anchor="start" dominant-baseline="alphabetic">good</text>
</g>
<g transform="translate(420,954) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="90.7736px" font-style="normal" font-weight="normal" x="-60.675811767578125" y="-36.30945472000001" text-anchor="start" dominant-baseline="alphabetic">will</text>
</g>
<g transform="translate(822,384) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="68.0802px" font-style="normal" font-weight="normal" x="-172.64324951171875" y="-27.232091040000007" text-anchor="start" dominant-baseline="alphabetic">development</text>
</g>
<g transform="translate(598,124) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="68.0802px" font-style="normal" font-weight="normal" x="-133.38424682617188" y="-27.232091040000007" text-anchor="start" dominant-baseline="alphabetic">additional</text>
</g>
<g transform="translate(858,440) rotate(0,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="68.0802px" font-style="normal" font-weight="normal" x="-141.8277587890625" y="-27.232091040000007" text-anchor="start" dominant-baseline="alphabetic">completed</text>
</g>
<g transform="translate(184,440) rotate(0,0,0)">
<text fill="#c00" stroke="none" font-family="Roboto Condensed" font-size="68.0802px" font-style="normal" font-weight="normal" x="-159.31317138671875" y="-27.232091040000007" text-anchor="start" dominant-baseline="alphabetic">recommend</text>
</g>
<g transform="translate(220,1020) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="68.0802px" font-style="normal" font-weight="normal" x="-94.93965911865234" y="-27.232091040000007" text-anchor="start" dominant-baseline="alphabetic">exactly</text>
</g>
<g transform="translate(670,338) rotate(-71.44970544298596,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="68.0802px" font-style="normal" font-weight="normal" x="-99.16143035888672" y="-27.232091040000007" text-anchor="start" dominant-baseline="alphabetic">enough</text>
</g>
<g transform="translate(900,556) rotate(0,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="68.0802px" font-style="normal" font-weight="normal" x="-98.064453125" y="-27.232091040000007" text-anchor="start" dominant-baseline="alphabetic">needed</text>
</g>
<g transform="translate(68,522) rotate(39.17381068180023,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="68.0802px" font-style="normal" font-weight="normal" x="-83.0389633178711" y="-27.232091040000007" text-anchor="start" dominant-baseline="alphabetic">things</text>
</g>
<g transform="translate(754,1020) rotate(0,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="68.0802px" font-style="normal" font-weight="normal" x="-65.63668823242188" y="-27.232091040000007" text-anchor="start" dominant-baseline="alphabetic">code</text>
</g>
<g transform="translate(108,224) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="68.0802px" font-style="normal" font-weight="normal" x="-59.403778076171875" y="-27.232091040000007" text-anchor="start" dominant-baseline="alphabetic">time</text>
</g>
<g transform="translate(678,822) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-136.59417724609375" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">communicative</text>
</g>
<g transform="translate(588,154) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-134.10137939453125" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">knowledgeable</text>
</g>
<g transform="translate(886,474) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-112.56358337402344" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">visualization</text>
</g>
<g transform="translate(292,354) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-89.16455078125" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">especially</text>
</g>
<g transform="translate(290,866) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-87.43621063232422" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">incredible</text>
</g>
<g transform="translate(182,470) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-78.89423370361328" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">beautiful</text>
</g>
<g transform="translate(202,502) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-86.94873809814453" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">extremely</text>
</g>
<g transform="translate(446,282) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-96.22195434570312" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">knowledge</text>
</g>
<g transform="translate(244,550) rotate(0,0,0)">
<text fill="#c00" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-69.02275848388672" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">attitude</text>
</g>
<g transform="translate(490,906) rotate(65.01022394043254,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-72.47943878173828" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">projects</text>
</g>
<g transform="translate(428,318) rotate(0,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-72.95584106445312" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">talented</text>
</g>
<g transform="translate(358,616) rotate(31.827815075407216,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-75.42648315429688" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">changes</text>
</g>
<g transform="translate(732,478) rotate(27.96828679893051,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-69.22217559814453" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">forward</text>
</g>
<g transform="translate(232,222) rotate(0,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-65.55500793457031" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">looking</text>
</g>
<g transform="translate(738,554) rotate(-11.153593657208399,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-63.60508728027344" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">perfect</text>
</g>
<g transform="translate(444,738) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-61.965370178222656" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">related</text>
</g>
<g transform="translate(560,702) rotate(0,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-60.857452392578125" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">results</text>
</g>
<g transform="translate(398,398) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-59.572296142578125" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">design</text>
</g>
<g transform="translate(454,120) rotate(-75.42702251660324,0,0)">
<text fill="#c00" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-52.93590545654297" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">highly</text>
</g>
<g transform="translate(136,738) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-50.520660400390625" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">result</text>
</g>
<g transform="translate(310,474) rotate(18.111244725140082,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-61.212005615234375" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">superb</text>
</g>
<g transform="translate(560,322) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-54.50914001464844" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">writes</text>
</g>
<g transform="translate(626,618) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-51.772621154785156" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">found</text>
</g>
<g transform="translate(78,1010) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-48.29376983642578" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">Great</text>
</g>
<g transform="translate(490,838) rotate(0,0,0)">
<text fill="#c00" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-46.84239959716797" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">short</text>
</g>
<g transform="translate(434,358) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-48.471031188964844" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">tasks</text>
</g>
<g transform="translate(694,428) rotate(-46.37084175571857,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-54.841522216796875" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">Thank</text>
</g>
<g transform="translate(650,1022) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-40.1949462890625" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">ultra</text>
</g>
<g transform="translate(882,714) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-44.249916076660156" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">done</text>
</g>
<g transform="translate(460,694) rotate(0,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-41.28070831298828" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">easy</text>
</g>
<g transform="translate(580,666) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-38.200721740722656" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">look</text>
</g>
<g transform="translate(80,938) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-30.412109375" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">eye</text>
</g>
<g transform="translate(976,1006) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-17.815185546875" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">fit</text>
</g>
<g transform="translate(60,558) rotate(0,0,0)">
<text fill="#c00" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-30.489662170410156" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">say</text>
</g>
<g transform="translate(352,558) rotate(0,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="45.3868px" font-style="normal" font-weight="normal" x="-37.72431945800781" y="-18.154727360000006" text-anchor="start" dominant-baseline="alphabetic">SVG</text>
</g>
<g transform="translate(918,1016) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-62.44728088378906" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">specifications</text>
</g>
<g transform="translate(112,72) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-59.66087341308594" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">opportunities</text>
</g>
<g transform="translate(138,1020) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-53.90528869628906" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">collaborator</text>
</g>
<g transform="translate(790,1020) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-65.61589813232422" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">enhancements</text>
</g>
<g transform="translate(380,436) rotate(38.771434759395106,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-57.528167724609375" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">expectations</text>
</g>
<g transform="translate(590,368) rotate(-62.12730834989984,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-55.550537109375" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">professional</text>
</g>
<g transform="translate(900,812) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-52.847251892089844" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">appreciated</text>
</g>
<g transform="translate(276,72) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-52.24342346191406" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">cooperative</text>
</g>
<g transform="translate(356,1020) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-51.81688690185547" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">Exceptional</text>
</g>
<g transform="translate(722,960) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-50.83638000488281" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">informative</text>
</g>
<g transform="translate(934,256) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-43.29151916503906" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">iteratively</text>
</g>
<g transform="translate(554,354) rotate(-41.588558574450445,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-51.61192321777344" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">Javascripts</text>
</g>
<g transform="translate(716,486) rotate(21.991470867155133,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-53.279327392578125" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">outstanding</text>
</g>
<g transform="translate(100,304) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-59.6331787109375" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">programming</text>
</g>
<g transform="translate(676,526) rotate(-27.481328244462016,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-55.567169189453125" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">accomodate</text>
</g>
<g transform="translate(274,172) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-47.219078063964844" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">appreciate</text>
</g>
<g transform="translate(564,1020) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-48.22173309326172" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">challenges</text>
</g>
<g transform="translate(392,584) rotate(21.1468758703807,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-46.97532653808594" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">dedication</text>
</g>
<g transform="translate(444,414) rotate(-25.712297811023358,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-41.419166564941406" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">Definitely</text>
</g>
<g transform="translate(788,256) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-48.60395812988281" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">experience</text>
</g>
<g transform="translate(110,636) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-46.80359649658203" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">Freelancer</text>
</g>
<g transform="translate(110,380) rotate(0,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-41.94541931152344" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">insightful</text>
</g>
<g transform="translate(232,728) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-43.496490478515625" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">javascript</text>
</g>
<g transform="translate(656,172) rotate(0,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-48.4654541015625" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">responsive</text>
</g>
<g transform="translate(254,308) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-49.47920227050781" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">scrambling</text>
</g>
<g transform="translate(948,484) rotate(0,0,0)">
<text fill="#c00" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-48.847679138183594" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">turnaround</text>
</g>
<g transform="translate(206,380) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-43.26383972167969" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">colleague</text>
</g>
<g transform="translate(872,560) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-43.96735382080078" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">consulted</text>
</g>
<g transform="translate(724,700) rotate(0,0,0)">
<text fill="#c00" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-47.40740966796875" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">dashboard</text>
</g>
<g transform="translate(796,908) rotate(0,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-40.516204833984375" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">delivered</text>
</g>
<g transform="translate(234,636) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-39.25873565673828" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">direction</text>
</g>
<g transform="translate(568,168) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-35.752220153808594" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">efficient</text>
</g>
<g transform="translate(234,1020) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-41.35823059082031" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">expertise</text>
</g>
<g transform="translate(474,164) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-41.54656219482422" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">follow-on</text>
</g>
<g transform="translate(330,504) rotate(0,0,0)">
<text fill="#c00" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-46.66511535644531" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">impressed</text>
</g>
<g transform="translate(296,368) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-43.94519805908203" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">questions</text>
</g>
<g transform="translate(856,496) rotate(0,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-44.59332275390625" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">requested</text>
</g>
<g transform="translate(496,792) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-41.2474365234375" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">solutions</text>
</g>
<g transform="translate(630,572) rotate(0,0,0)">
<text fill="#c00" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-39.26982879638672" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">specially</text>
</g>
<g transform="translate(480,656) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-40.74334716796875" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">technical</text>
</g>
<g transform="translate(554,398) rotate(-66.48740489194682,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-44.715187072753906" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">Top-notch</text>
</g>
<g transform="translate(468,620) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-44.7041015625" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">wonderful</text>
</g>
<g transform="translate(262,560) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-41.64075469970703" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">complete</text>
</g>
<g transform="translate(578,256) rotate(7.815378223419581,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-36.36156463623047" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">creating</text>
</g>
<g transform="translate(714,588) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-38.00126647949219" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">deadline</text>
</g>
<g transform="translate(664,500) rotate(-10.220549834120904,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-38.305946350097656" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">describe</text>
</g>
<g transform="translate(626,476) rotate(0,0,0)">
<text fill="#c00" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-42.61570739746094" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">exceeded</text>
</g>
<g transform="translate(80,880) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-32.11273956298828" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">flexible</text>
</g>
<g transform="translate(582,444) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-39.00392150878906" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">graphing</text>
</g>
<g transform="translate(430,564) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-38.383506774902344" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">pleasant</text>
</g>
<g transform="translate(382,876) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-35.098541259765625" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">positive</text>
</g>
<g transform="translate(484,636) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-39.56895446777344" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">prepared</text>
</g>
<g transform="translate(458,440) rotate(0,0,0)">
<text fill="#c00" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-37.979095458984375" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">previous</text>
</g>
<g transform="translate(482,600) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-38.5662841796875" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">provided</text>
</g>
<g transform="translate(426,544) rotate(0,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-38.10650634765625" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">provides</text>
</g>
<g transform="translate(414,488) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-38.677093505859375" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">punctual</text>
</g>
<g transform="translate(612,524) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-36.70500183105469" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">required</text>
</g>
<g transform="translate(576,556) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-40.222625732421875" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">schedule</text>
</g>
<g transform="translate(468,382) rotate(49.132623476797704,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-37.203575134277344" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">services</text>
</g>
<g transform="translate(544,576) rotate(0,0,0)">
<text fill="#c00" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-36.07904052734375" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">solution</text>
</g>
<g transform="translate(920,172) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-35.680198669433594" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">adheres</text>
</g>
<g transform="translate(414,512) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-38.06221008300781" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">amazing</text>
</g>
<g transform="translate(62,740) rotate(-77.45405800200348,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-35.31458282470703" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">Another</text>
</g>
<g transform="translate(578,488) rotate(10.408265116339942,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-43.751312255859375" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">Awesome</text>
</g>
<g transform="translate(962,696) rotate(0,0,0)">
<text fill="#c00" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-33.80229949951172" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">contact</text>
</g>
<g transform="translate(518,332) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-34.84925079345703" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">develop</text>
</g>
<g transform="translate(472,460) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-35.77435302734375" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">improve</text>
</g>
<g transform="translate(956,80) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-24.667587280273438" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">initial</text>
</g>
<g transform="translate(964,560) rotate(0,0,0)">
<text fill="#c00" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-32.096099853515625" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">Laravel</text>
</g>
<g transform="translate(542,536) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-33.807838439941406" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">optimal</text>
</g>
<g transform="translate(466,580) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-34.334083557128906" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">product</text>
</g>
<g transform="translate(760,72) rotate(0,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-28.0965576171875" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">profile</text>
</g>
<g transform="translate(492,772) rotate(0,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-31.436904907226562" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">quickly</text>
</g>
<g transform="translate(554,610) rotate(29.833047720667714,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-34.361793518066406" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">science</text>
</g>
<g transform="translate(802,172) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-30.3843994140625" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">similar</text>
</g>
<g transform="translate(720,612) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-28.622825622558594" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">Stellar</text>
</g>
<g transform="translate(472,538) rotate(39.4419932459496,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-34.616600036621094" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">support</text>
</g>
<g transform="translate(546,464) rotate(-3.357508448726917,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-37.430702209472656" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">systems</text>
</g>
<g transform="translate(470,494) rotate(38.5743104757004,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-30.17389678955078" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">talking</text>
</g>
<g transform="translate(356,172) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-32.49494934082031" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">version</text>
</g>
<g transform="translate(550,508) rotate(0,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-34.611053466796875" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">Voronoi</text>
</g>
<g transform="translate(726,902) rotate(-72.35448609572109,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-35.71343994140625" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">weather</text>
</g>
<g transform="translate(922,896) rotate(79.18062764011042,0,0)">
<text fill="#c00" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-30.45086669921875" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">writing</text>
</g>
<g transform="translate(436,1020) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-28.196273803710938" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">A-plus</text>
</g>
<g transform="translate(594,280) rotate(0,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-30.650291442871094" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">always</text>
</g>
<g transform="translate(94,228) rotate(0,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-25.83643341064453" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">easily</text>
</g>
<g transform="translate(180,232) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-28.27936553955078" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">expert</text>
</g>
<g transform="translate(828,72) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-24.013916015625" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">really</text>
</g>
<g transform="translate(74,860) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-26.32392120361328" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">cases</text>
</g>
<g transform="translate(492,752) rotate(0,0,0)">
<text fill="#c00" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-27.503829956054688" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">coded</text>
</g>
<g transform="translate(116,132) rotate(75.24439140116135,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-24.318603515625" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">exact</text>
</g>
<g transform="translate(662,976) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-23.033416748046875" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">go-to</text>
</g>
<g transform="translate(584,1004) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-25.276931762695312" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">hours</text>
</g>
<g transform="translate(340,124) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-24.141334533691406" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">ideas</text>
</g>
<g transform="translate(342,984) rotate(-48.318974861932745,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-22.51824188232422" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">input</text>
</g>
<g transform="translate(348,72) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-20.147323608398438" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">later</text>
</g>
<g transform="translate(972,960) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-21.166595458984375" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">lines</text>
</g>
<g transform="translate(594,900) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-21.504501342773438" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">offer</text>
</g>
<g transform="translate(50,520) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-22.728744506835938" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">point</text>
</g>
<g transform="translate(344,440) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-24.113632202148438" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">quick</text>
</g>
<g transform="translate(708,868) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-20.468612670898438" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">right</text>
</g>
<g transform="translate(732,328) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-23.753570556640625" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">scale</text>
</g>
<g transform="translate(508,352) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-24.335220336914062" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">small</text>
</g>
<g transform="translate(596,880) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-20.341201782226562" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">tried</text>
</g>
<g transform="translate(888,908) rotate(-37.296331418566105,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-18.93970489501953" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">able</text>
</g>
<g transform="translate(850,816) rotate(-72.29637221719274,0,0)">
<text fill="#c00" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-21.382644653320312" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">back</text>
</g>
<g transform="translate(682,748) rotate(0,0,0)">
<text fill="#c00" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-21.84796142578125" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">deep</text>
</g>
<g transform="translate(192,72) rotate(0,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-16.67401885986328" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">find</text>
</g>
<g transform="translate(404,72) rotate(0,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-20.701278686523438" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">High</text>
</g>
<g transform="translate(530,860) rotate(0,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-19.14466094970703" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">high</text>
</g>
<g transform="translate(170,512) rotate(0,0,0)">
<text fill="#c00" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-22.08061981201172" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">hope</text>
</g>
<g transform="translate(328,620) rotate(0,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-21.22199249267578" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">keep</text>
</g>
<g transform="translate(164,864) rotate(-85.35677887043356,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-24.218887329101562" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">Many</text>
</g>
<g transform="translate(406,836) rotate(-45.63817805436978,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-22.252342224121094" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">mind</text>
</g>
<g transform="translate(450,856) rotate(0,0,0)">
<text fill="#c00" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-18.82891082763672" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">said</text>
</g>
<g transform="translate(76,114) rotate(-74.45596001978082,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-19.31084442138672" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">sure</text>
</g>
<g transform="translate(198,928) rotate(0,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-17.59912872314453" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">true</text>
</g>
<g transform="translate(658,388) rotate(0,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-21.925521850585938" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">Wala</text>
</g>
<g transform="translate(186,168) rotate(-30.857512695265942,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-15.704597473144531" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">day</text>
</g>
<g transform="translate(772,864) rotate(0,0,0)">
<text fill="#171717" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-17.200286865234375" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">met</text>
</g>
<g transform="translate(764,212) rotate(-18.203462002763636,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-18.17523956298828" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">new</text>
</g>
<g transform="translate(60,712) rotate(38.70723663971161,0,0)">
<text fill="#438D9C" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-18.557464599609375" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">now</text>
</g>
<g transform="translate(324,936) rotate(0,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-19.60999298095703" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">PHP</text>
</g>
<g transform="translate(26,192) rotate(80.72343239426137,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-14.430511474609375" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">put</text>
</g>
<g transform="translate(950,844) rotate(-82.43996974291068,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-17.975807189941406" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">UAT</text>
</g>
<g transform="translate(658,700) rotate(0,0,0)">
<text fill="#E8A664" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-17.654525756835938" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">Ugo</text>
</g>
<g transform="translate(392,412) rotate(0,0,0)">
<text fill="#9C6043" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-19.68199920654297" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">UPN</text>
</g>
<g transform="translate(68,1020) rotate(0,0,0)">
<text fill="#c00" stroke="none" font-family="Roboto Condensed" font-size="22.6934px" font-style="normal" font-weight="normal" x="-15.9649658203125" y="-9.077363680000003" text-anchor="start" dominant-baseline="alphabetic">use</text>
</g>
</g>
</svg>
