<div id="d3_app_container">
  <div class="col-md-12">
    <div class="row">
      <div class="page-header"><h3>Deficiency Flowchart</h3>
        <div class = "check" id = "rc">
          <p>Root Cause</p>
            <label class = checkbox-inline><input type = "checkbox" checked value = "Primary">Primary</label>
            <label class = checkbox-inline><input type = "checkbox" checked value = "Contributing">Contributing</label>
        </div>
        <div class = "check" id = "uei">
          <p>Inspection Type</p>
          <label class = checkbox-inline><input type = "checkbox" checked value = "UEI">UEI</label>
          <label class = checkbox-inline><input type = "checkbox" checked value = "CCIP">CCIP</label>
        </div>
      </div> <!-- page header -->
    </div>
  </div> <!-- col -->
  <div class="col-md-12">
    <div class="row">
      <div><h2 id =slow>Please be patient.</h2><h3>This is a bit tricky...</h3></div>
      <div id="d3_app">
      </div>
    </div>
  </div> <!-- col -->
  <div class="col-md-12 table-responsive">
    <div class="row">
      <table class = "d3_app table table-striped table-bordered" cellspacing = 0 width = "100%"><thead></thead><tbody></tbody></table>
    </div>
  </div>
</div>
