#d3_app {
  font:10px sans-serif;
}
.bar {
  fill: orangered; 
  shape-rendering: crispEdges;
}
.axis path, .axis line {
  fill:none; 
  stroke:grey;
 shape-rendering:crispEdges;
}
path {
  stroke: darkgrey; 
  stroke-width: 1;fill: none;
}
.pts {
  fill: orangered
}
.eqn {
  opacity:0.5; 
  font-size:250%;
  font-family:"Cambria",serif;
}
