#sankey {
text-transform: capitalize;
}

#fft, #stem, #pdf {
text-transform: uppercase;
}

#d3_app {
position:absolute;
top:100px; 
left:100px;
width:80%;  
}

h3, p {
margin: 0px;
}

img {
margin-left:5px;
border: 1px solid #eee;
}
