.hero {
  padding: 5px 0;
  margin-bottom: 10px;
  background: #f5e7c2;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .last-item {
    display: flex;
  }

  .hero__content {
    justify-content: right;
    width: 100%;
    padding: 0 0px 0 0;
    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%
    }
    
    .hero__title {
      font-size: 34px;
      font-weight: normal;
    }

    .hero__subtitle {
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0.5px;
    }

    .hero__social {
      display: flex;
    }

    .hero__social-title {
      font-weight: 700;
    }

  }

  .hero__image {
    float:left;
    img {
      box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    }
  }

  @media only screen and (max-width: $desktop) {
    .hero__content {
      padding: 0;

      .hero__subtitle {
        font-size: 16px;
        line-height: 28px;
      }
    }
  }

  @media only screen and (max-width: $tablet) {
    margin-bottom: 40px;

    .last-item {
      order: 1;
    }

    .hero__content {
      .hero__title {
        margin-bottom: 5px;
        font-size: 27px;
      }
    }

    .hero__image {
      margin-bottom: 5px;
      
      img {
        box-shadow: none;
      }
    }
  }

  @media only screen and (max-width: $mobile) {
    padding: 10px 0;
  }
}
