.tooltip {
    position: relative;
    display: inline-block;
    color:#D95D2A;
    font-weight:700;
    font-size:1.25rem;
}

.tooltiptext {
    font-size: .95rem;
    visibility: hidden;
    width: 14rem;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    bottom: 30%;
    position: absolute;
    font-family: "Reenie+Beanie";
    font-weight:500;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

ol {
    font-family: "Reenie+Beanie";
    font-style: 2.3rem;
    font-weight: 500;
}

li {
    font-family: "Reenie+Beanie";
    font-style: 2.3rem;
    font-weight: 500;
}

.annotation-note-title, text.title {
    font-weight: bold;
    font-size: 1.1rem;
    font-family: "Reenie+Beanie";
    margin: 'auto';
}

.annotation-note-label {
    font-size: 0.9rem;
    font-family: "Reenie+Beanie";
}

